<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheet/login.css">
    <title>SPADER.DEV.LOG</title>
</head>
<body>

<div class="login-container animated fadeInDown bootstrap snippets">
    <div class="logobox">
        <div class="logobox-title">SPADER.DEV.LOG</div>
    </div>
    <div class="loginbox bg-white">
        <div class="loginbox-title">SIGN IN</div>
        <div class="loginbox-social">
            <div class="social-title">Connect with Your Social Accounts</div>
            <div class="social-buttons">
                <a href="/facebook" class="button-facebook">
                    <i class="social-icon fa fa-facebook"></i>
                </a>
                <a href="/github" class="button-github">
                    <i class="social-icon fa fa-github-alt"></i>
                </a>
                <a href="/google" class="button-google">
                    <i class="social-icon fa fa-google"></i>
                </a>
            </div>
        </div>
        <div class="loginbox-or">
            <div class="or-line"></div>
            <div class="or">OR</div>
        </div>
        <form id="signin" role="form" class="text">
            <div class="loginbox-textbox">
                <input type="text" name="email" class="form-control"
                    style="font-weight: bold;" placeholder="EMAIL" required="required">
            </div>
            <div class="loginbox-textbox">
                <input type="password" name="password" class="form-control"
                    style="font-weight: bold;" placeholder="PASSWORD" required="required">
            </div>
            <div class="loginbox-checkbox">
                <label class="checkbox">
                    <input type="checkbox" name="useCookie">Remember Me
                </label>
            </div>
            <div class="loginbox-submit">
                <input type="submit" id="signinBtn" class="btn btn-primary" value="Sign In">
                <input type="button" id="showSignupBtn" class="btn btn-danger" value="Sign Up">
            </div>
        </form>
    </div>
</div>


<div class="container signup-modal" id="signupModal">
    <div class="col-md-4 col-md-offset-4">
        <form id="signup" role="form" class="text">
            <div class="row signup-border">
                <span id="close" class="close">
                    <i class="fa fa-fw fa-close"></i>
                </span>
                <br/>
                <h3 style="margin-bottom: 10px; font-weight: bold;">CREATE YOUR ACCOUNT</h3>
                <p style="font-weight: bold;">Fill in the form below to get instant access.</p>
                <hr>

                <input type="hidden" id="provider" name="provider" value=<%= provider %>>

                <% if (provider !== 'local') { %>
                    <input type="hidden" id="thirdParty" name="thirdParty" value=<%= JSON.stringify(thirdParty) %>>
                <% } %>

                <% if (provider !== 'local') { %>
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon">
                        <i class="fa fa-fw fa-user-plus"></i>
                    </span>
                    <input size="60" maxlength="255" class="form-control"
                        style="font-weight: bold;"
                        value="JOIN WITH <%= provider.toUpperCase() %> ACCOUNT"
                        readonly>
                </div>
                <% } %>

                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </span>
                    <input size="60" maxlength="255" class="form-control"
                        style="font-weight: bold;" placeholder="Email" required="required"
                        name="email" id="email" type="email"
                        <% if (provider !== 'local') { %>
                            value=<%= email %>
                            disabled
                        <% } %>>
                </div>
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input size="60" maxlength="255" class="form-control"
                        style="font-weight: bold;" required="required" placeholder="Name"
                        name="name" id="name" type="text"
                        <% if (provider !== 'local') { %>
                            value=<%= name %>
                            disabled
                        <% } %>>
                </div>

                <% if (provider === 'local') { %>
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input size="60" maxlength="255" class="form-control" style="font-weight: bold;"
                        required="required" placeholder="Password" name="password"
                        id="password" type="password" title="At least 8 characters (with number and special char)"
                        pattern="(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,30}">
                </div>
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input size="60" maxlength="255" class="form-control" style="font-weight: bold;"
                        required="required" placeholder="Confirm Password"
                        name="confirmPassword" id="confirmPassword"
                        type="password" title="At least 8 characters (with number and special char)"
                        pattern="(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,30}">
                </div>
                <% } %>

                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input size="60" maxlength="255" class="form-control"
                        required="required" placeholder="Master Key" style="font-weight: bold;"
                        name="masterKey" id="masterKey" type="password"
                        title="Master Key is required">
                </div><hr/><br/>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-fw fa-user-plus"></i>Sign Up
                        </button>
                    </div>
                </div>
                <br/>
            </div>
        </form>
    </div>
</div>

<script src="/bower_components/jquery/jquery.min.js"></script>
<script src="/javascript/login.js"></script>

</body>
</html>
